@model CarrinhoViewModel

<div class="hero-wrap hero-bread" style="background-image: url('/images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Carrinho</span></p>
                <h1 class="mb-0 bread">Meu carrinho</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 mb-5 text-center">
                <ul class="product-category">
                    <li><a asp-controller="Produto" asp-action="Produtos" asp-route-categoria="">Todos</a></li>
                    <li><a asp-controller="Produto" asp-action="Produtos" asp-route-categoria="Verduras">Verduras</a></li>
                    <li><a asp-controller="Produto" asp-action="Produtos" asp-route-categoria="Frutas">Frutas</a></li>
                    <li><a asp-controller="Produto" asp-action="Produtos" asp-route-categoria="Grãos">Grãos</a></li>
                    <li><a asp-controller="Produto" asp-action="Produtos" asp-route-categoria="Raízes">Raízes</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th>
                                <th>Nome do produto</th>
                                <th>Preço</th>
                                <th>Quantidade</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.Carrinho.ItensCarrinho)
                        {
                            <tbody>
                                <tr class="text-center">
                                    <td class="product-remove"><a asp-controller="Carrinho" asp-action="RemoveFromShoppingCart" asp-route-produtoId="@item.ItemCarrinhoId"><span class="ion-ios-close"></span></a></td>
                                    <td class="product-name">
                                        <h3>@item.Produto.Nome</h3>
                                    </td>

                                    <td class="price">@item.Produto.Preco.ToString("c")</td>

                                    <td class="quantity">
                                        @item.Quantidade
                                    </td>

                                    <td class="total">@((item.Quantidade * item.Produto.Preco).ToString("c"))</td>
                                </tr><!-- END TR-->
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Total da compra</h3>
                    <hr>
                    <p class="d-flex total-price">
                        <span>Total</span>
                        <span>@Model.TotalItensCarrinho.ToString("c")</span>
                    </p>
                </div>
                <p><a asp-controller="Pedido" asp-action="Checkout" class="btn btn-primary py-3 px-4">Confirmar pedido</a></p>
            </div>
        </div>
    </div>
</section>